.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    width: 100%;
    border: thick solid #373F47;
    height: 30%; 
    display: flex;
    flex-direction: column;
    background-color: #797596;
}  

a {
    border: thick solid #373F47;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-decoration: none; 
    color: #C3C9E9; 
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F4;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    height: 90%;
    width: 90%;
} 

.topInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}  

.idPicture {
    border: 1px solid #373F47;
    width: 50%;
    height: 50%;
} 

.idInfo {
    border: 1px solid #373F47;
    width: 100%;
    text-align: center;
    background-color: #C3C9E9;
    color: #373F47;
}

.bottomInfo {
    border: 1px solid #373F47;
    width: 100%;
    text-align: center;
    background-color: #C3C9E9;
} 

.bottomInfo p {
    color: #373F47;
}


@media only screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
    }

    .nav {
        width: 20%;
        border: 1px solid black;
        height: 100%;
    }
    
    a {
        border: 1px solid black;
        font-size: 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        text-decoration: none; 
        background-color: #373F47; 
    }
    
    .right {
        width: 80%;
        border: 1px solid purple;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .info {
        height: 500px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #797596;
    }
    
    .topInfo {
        color: purple;
        height: 50%;
        flex-direction: row;
        justify-content: space-around; 
        width: 100%;    
    }
    
    .bottomInfo {
        width: 100%;
    }
    
    .idPicture {
        height: 90%;
        width: 40%;
    }
    
    .idInfo {
        height: 90%;
        width: 40%;
    }
}